<div class="row" id="user-edit"></div>
<script id="queryFormTmpl" type="text/x-jsrender">
  <div class="row page-title">
    <div class="col-lg-12">
      <a href="/">
        <i class="fa fa-home fa-fw fa-lg"></i>
        回到首页
      </a>
      / 用户详细
    </div>
  </div>
  <div class="row lookup recorded">
    <div class="col-lg-12">
      <!-- style="position:absolute;" -->
      <form id="form" class="form-horizontal" role="form" method="post">
        <input id="id" name="id" class="form-control" data-link="user.id" type="hidden" />
        <div class="box panel box-info">
          <div class="panel-collapse collapse in" id="collapseOne">
            <div class="box-body">
              <div id="div_error"></div>
              <!--第一行-->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="row form-group">
                    <div class="col-xs-4">
                      <label for="userCode" class="control-label"> <font
                        color="#FF0000" size="+1" style="vertical-align: middle">*</font>用户代码</label>
                      </div>
                      <div class="col-xs-6">
                        <input id="userCode" name="userCode" class="form-control" data-link="user.userCode" type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="customerName" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          用户名称</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="userName" name="userName" class="form-control" data-link="user.userName" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--第三行-->
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="email" class="control-label"><font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>邮箱</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="email" name="email" class="form-control" data-link="user.email" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="sex" class="control-label "><font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>密码</label>
                          </div>
                          <div class="col-xs-6">
                            <input id="password" name="password" class="form-control" data-link="user.password" type="password" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--第四行-->
                    <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="sex" class="control-label">性别</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="sex" name="sex" class="form-control" data-link="user.sex" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="birthday" class="control-label ">生日</label>
                          </div>
                          <div class="col-xs-6">
                            <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                              <input id="birthday" name="birthday" class="form-control" type="text" data-link="user.birthday" />
                              <span class="input-group-addon">  
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--第五行-->
                    <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="mobilePhone" class="control-label">手机</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="mobilePhone" name="mobilePhone" class="form-control" data-link="user.mobilePhone" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="qq" class="control-label ">QQ号</label>
                          </div>
                          <div class="col-xs-6">
                            <input id="qq" name="qq" class="form-control" data-link="user.qq" type="text" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--第六行-->
                    <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="address" class="control-label">家庭地址</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="address" name="address" class="form-control" data-link="user.address" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="postCode" class="control-label ">邮编</label>
                          </div>
                          <div class="col-xs-6">
                            <input id="postCode" name="postCode" class="form-control" data-link="user.postCode" type="text" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--第五行-->
                    <div class="row">

                      <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="row form-group">
                          <div class="col-xs-4">
                            <label for="passwordSetDate" class="control-label "><font
                              color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                              密码生效时间</label>
                            </div>
                            <div class="col-xs-6">
                              <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                <input id="passwordSetDate" name="passwordSetDate" class="form-control" type="text" data-link="user.passwordSetDate" />
                                <span class="input-group-addon">  
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                          <div class="row form-group">
                            <div class="col-xs-4">
                              <label for="passwordExpireDate" class="control-label "><font
                                color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                                密码失效时间</label>
                              </div>
                              <div class="col-xs-6">
                                <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                  <input id="passwordExpireDate" name="passwordExpireDate" class="form-control" type="text" data-link="user.passwordExpireDate"
                                  />
                                  <span class="input-group-addon">  
                                    <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box box-tool-my">
                    <div class="footer-my">
                      <button type="submit" class="btn btn-danger btn-sm" style="display: none" id="btn-submit">保存</button>
                      <button type="button" id="btn-close" class="btn btn-default btn-close btn-sm">关 闭</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </script>