<div class="row" id="user-edit"></div>
<script id="queryFormTmpl" type="text/x-jsrender">
<div class="box box-info">
   <div class="modal-header box-header">
    <h4 class="box-title">用户新增</h4>
  </div>
  <div class="row lookup recorded">
    <div class="col-lg-12">
      <!-- style="position:absolute;" -->
      <form id="form" class="form-horizontal" role="form" method="post">
        <input id="id" name="id" class="form-control" data-link="user.id" type="hidden" />
        <div class="box panel box-info">
          <div class="panel-collapse collapse in" id="collapseOne">
            <div class="box-body">
              <div id="div_error"></div>
              <!--第一行-->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="row form-group">
                    <div class="col-xs-4">
                      <label for="userCode" class="control-label"> <font
                        color="#FF0000" size="+1" style="vertical-align: middle">*</font>用户代码</label>
                      </div>
                      <div class="col-xs-6">
                        <input id="userCode" name="userCode" class="form-control" data-link="user.userCode" type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="customerName" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          用户名称</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="userName" name="userName" class="form-control" data-link="user.userName" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--第三行-->
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="email" class="control-label">邮箱</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="email" name="email" class="form-control" data-link="user.email" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="sex" class="control-label "><font
                            color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                            密码</label>
                          </div>
                          <div class="col-xs-6">
                            <input id="password" name="password" class="form-control" data-link="user.password" type="password" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--第四行-->
                    <!--第五行-->
                    <div class="row">

                      <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="row form-group">
                          <div class="col-xs-4">
                            <label for="passwordSetDate" class="control-label "><font
                              color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                              密码生效时间</label>
                            </div>
                            <div class="col-xs-6">
                              <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                <input id="passwordSetDate" name="passwordSetDate" class="form-control" type="text" data-link="user.passwordSetDate" />
                                <span class="input-group-addon">  
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                          <div class="row form-group">
                            <div class="col-xs-4">
                              <label for="passwordExpireDate" class="control-label "><font
                                color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                                密码失效时间</label>
                              </div>
                              <div class="col-xs-6">
                                <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                  <input id="passwordExpireDate" name="passwordExpireDate" class="form-control" type="text" data-link="user.passwordExpireDate"
                                  />
                                  <span class="input-group-addon">  
                                    <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="box box-tool-my"> -->
                    <div class="footer-my">
                      <button type="submit" class="btn btn-danger btn-sm" style="display: none" id="btn-submit">保存</button>
                      <button type="button" id="btn-close" class="btn btn-danger btn-close btn-sm">关 闭</button>
                    </div>
                  <!-- </div> -->
                </form>
              </div>
            </div>
          </div>
          </script>