<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacoal.ins.claim.car.dao.PrplRegistMapper">
  <resultMap id="BaseResultMap" type="com.chinacoal.ins.claim.car.pojo.PrplRegist">
    <id column="REGISTNO" jdbcType="VARCHAR" property="registNo" />
    <result column="LFLAG" jdbcType="VARCHAR" property="lFlag" />
    <result column="BUSINESSID" jdbcType="DECIMAL" property="businessId" />
    <result column="REPORTDATE" jdbcType="TIMESTAMP" property="reportDate" />
    <result column="REPORTHOUR" jdbcType="VARCHAR" property="reportHour" />
    <result column="REPORTORNAME" jdbcType="VARCHAR" property="reportorName" />
    <result column="REPORTORNUMBER" jdbcType="VARCHAR" property="reportorNumber" />
    <result column="REPORTORMOBILE" jdbcType="VARCHAR" property="reportorMobile" />
    <result column="LINKERNAME" jdbcType="VARCHAR" property="linkerName" />
    <result column="PHONENUMBER" jdbcType="VARCHAR" property="phoneNmber" />
    <result column="LINKERMOBILE" jdbcType="VARCHAR" property="linkerMobile" />
    <result column="RELATIONSHIP" jdbcType="VARCHAR" property="relationShip" />
    <result column="MERCYFLAG" jdbcType="VARCHAR" property="mercyFlag" />
    <result column="DAMAGEDATE" jdbcType="TIMESTAMP" property="damageDate" />
    <result column="DAMAGEHOUR" jdbcType="VARCHAR" property="damageHour" />
    <result column="DAMAGECODE" jdbcType="VARCHAR" property="damageCode" />
    <result column="DAMAGENAME" jdbcType="VARCHAR" property="damageName" />
    <result column="DAMAGETYPECODE" jdbcType="VARCHAR" property="damageTypeCode" />
    <result column="DAMAGETYPENAME" jdbcType="VARCHAR" property="damageTypeName" />
    <result column="DAMAGEAREACODE" jdbcType="VARCHAR" property="damageAreaCode" />
    <result column="DAMAGEAREANAME" jdbcType="VARCHAR" property="damageAreaName" />
    <result column="DAMAGEADDRESSTYPE" jdbcType="VARCHAR" property="damageAddressType" />
    <result column="DAMAGEADDRESS" jdbcType="VARCHAR" property="damageAddress" />
    <result column="CHECKADDRESS" jdbcType="VARCHAR" property="checkAddress" />
    <result column="REPORTADDRESS" jdbcType="VARCHAR" property="reportAddress" />
    <result column="CHECKAREACODE" jdbcType="VARCHAR" property="checkAreaCode" />
    <result column="OBLIGATION" jdbcType="VARCHAR" property="obligation" />
    <result column="LOSSITEMTYPES" jdbcType="VARCHAR" property="lossItemTypes" />
    <result column="QDCASETYPE" jdbcType="VARCHAR" property="qdCaseType" />
    <result column="OPERATORCODE" jdbcType="VARCHAR" property="operatorCode" />
    <result column="OPERATORCOMCODE" jdbcType="VARCHAR" property="operatorComCode" />
    <result column="FIRSTREGCODE" jdbcType="VARCHAR" property="firstRegCode" />
    <result column="FIRSTREGCOMCODE" jdbcType="VARCHAR" property="firstRegComCode" />
    <result column="MAKECOM" jdbcType="VARCHAR" property="makeCom" />
    <result column="INPUTTIME" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="CIINDEMDUTY" jdbcType="DECIMAL" property="ciIndemDuty" />
    <result column="CLAIMSTATUS" jdbcType="VARCHAR" property="claimStatus" />
    <result column="CLAIMTYPE" jdbcType="VARCHAR" property="claimType" />
    <result column="CANCELFLAG" jdbcType="VARCHAR" property="cancelFlag" />
    <result column="SUBMITNUMBER" jdbcType="DECIMAL" property="submitNumber" />
    <result column="VALIDFLAG" jdbcType="VARCHAR" property="validFlag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="REGISTMODE" jdbcType="VARCHAR" property="registMode" />
    <result column="REPORTLOSSFEE" jdbcType="DECIMAL" property="reportLossFee" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="DAMAGEPOSTCODE" jdbcType="VARCHAR" property="damagePostCode" />
    <result column="CERTINO" jdbcType="VARCHAR" property="certiNo" />
    <result column="ACCEPTREASON" jdbcType="VARCHAR" property="acceptReason" />
    <result column="CASEFLAG" jdbcType="VARCHAR" property="caseFlag" />
    <result column="PLACE" jdbcType="VARCHAR" property="place" />
    <result column="REMOTEDAMAGEFALG" jdbcType="VARCHAR" property="remoteDamageFalg" />
    <result column="SCENEREGISTFALG" jdbcType="VARCHAR" property="sceneRegistFalg" />
    <result column="DOOMCHECKPLACE" jdbcType="VARCHAR" property="doomCheckPlace" />
    <result column="FASTPAY" jdbcType="VARCHAR" property="fastPay" />
    <result column="DISREPLACEREPAYFLAG" jdbcType="VARCHAR" property="disReplaceRepayFlag" />
    <result column="REPLACEREPAYFLAG" jdbcType="VARCHAR" property="replaceRepayFlag" />
    <result column="INSUREDPHONENUMBER" jdbcType="VARCHAR" property="insuredPhoneNumber" />
    <result column="SIMPLECASEFLAG" jdbcType="VARCHAR" property="simpleCaseFlag" />
    <result column="ACCIDENTTYPECODE" jdbcType="VARCHAR" property="accidentTypeCode" />
    <result column="ACCIDENTTYPENAME" jdbcType="VARCHAR" property="accidentTypeName" />
    <result column="LOSSPART" jdbcType="VARCHAR" property="lossPart" />
    <result column="AUTOIMPORTANTFLAG" jdbcType="VARCHAR" property="autoImportantFlag" />
    <result column="ANTIFLAG" jdbcType="VARCHAR" property="antiFlag" />
    <result column="ANTIVALUE" jdbcType="DECIMAL" property="antiValue" />
    <result column="RISKADDRTYPE" jdbcType="VARCHAR" property="riskAddrType" />
    <result column="DUTYFLAG" jdbcType="VARCHAR" property="dutyFlag" />
    <result column="RESOURCEFLAG" jdbcType="VARCHAR" property="resourceFlag" />
    <result column="QUICKCASENO" jdbcType="VARCHAR" property="quickCaseNo" />
    <result column="CALLSTATE" jdbcType="VARCHAR" property="callState" />
    <result column="ZEROCLOSE" jdbcType="VARCHAR" property="zeroClose" />
    <result column="ZEROCLOSEREASON" jdbcType="VARCHAR" property="zeroCloseReason" />
    <result column="CLAIMDIRECTPATH" jdbcType="VARCHAR" property="claimDirectPath" />
    <result column="ISSELFSURVEY" jdbcType="VARCHAR" property="isSelfSurvey" />
    <result column="ISKEYICASE" jdbcType="VARCHAR" property="isKeyiCase" />
  </resultMap>

  <select id="findByRegistNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from PRPLREGIST t
    <where>
      <if test="_parameter!=null">
        t.REGISTNO = #{registNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!-- 查询案件基本信息-->
  <select id="findByClaimNo" parameterType="java.lang.String" resultType="com.chinacoal.ins.claim.car.pojo.BaseCaseInfoDto">
    select t.claimno         as claimNo,
      t.riskcode      as riskCode,
      t1.registno     as registNo,
      t1.damagedate   as damageDate,
      t1.reportorname as reportorName,
      t.caseflag      as caseFlag,
      t.endcasedate as endCaseDate
    from prplclaim t, prplregist t1
    <where>
      t.registno = t1.registno
      <if test="_parameter!=null">
        and t.claimno = #{claimNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="getDamageTimes" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select count(*) from (select distinct t.registNo
    from PrpLregist t, PrpLregistSummary t1
    <where>
      (t.cancelFlag is null or t.cancelFlag != '1')
      and t1.registNo = t.registNo
      <if test="startDate!=null and startDate!=''">
        <![CDATA[ and t.damageDate >= to_date(#{startDate}, 'yy-MM-dd') ]]>
      </if>
      <if test="endDate!=null and endDate!=''">
        <![CDATA[ and t.damageDate <= to_date(#{endDate}, 'yy-MM-dd') ]]>
      </if>
      <if test="policyNo!=null and policyNo!=''">
        and t1.policyNo = #{policyNo}
      </if>
    </where>)
  </select>

  <!-- 理赔查询报案扩展信息 -->
  <select id="findRegistDto" parameterType="java.util.HashMap" resultType="com.chinacoal.ins.claim.car.pojo.RegistInfoDto">
    select t1.policyno as policyNo,
           t.damagedate as damageDate,
           t.damagehour as damageHour,
           t.damageaddress as damageAddress,
           t.damagecode as damageCode,
           t.damagename as damageName,
           t.remark as remark,
           t.reportdate as reportDate,
           t.reporthour as reportHour,
           t.reportorname as reportorName,
           t.reportormobile as reportorMobile,
           t1.insuredcode as insuredCode,
           t1.insuredname as insuredName ,
           t1.identifynumber as identifyNumber,
           t2.licenseno as licenseNo,
           t2.frameno as vinNo,
           t2.engineno as engineNo,
           t2.brandname as brandName,
           t.inputtime as inputTime,
           t2.riskcode as proName
      from prplregist t, prplcinsured t1, prplcitemcar t2
      <where>
        t.registno = t1.registno
        and t1.registno = t2.registno
        and t1.policyno = t2.policyno
        <if test="registNo!=null and registNo!=''">
          and t.registno = #{registNo}
        </if>
        <if test="riskCode!=null and riskCode!=''">
          and t1.riskcode = #{riskCode}
        </if>
      </where>
  </select>
</mapper>