<div class="row" id="apiInfo"></div>
<script id="apiInfoTml" type="text/x-jsrender">
  <div class="content-wrapper" style="min-height: 100%;margin-left: 0px!important;background-color: transparent!important">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 接口信息</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable ui-sortable">
          <div class="box box-primary">
            <!-- Tabs within a box -->
            <div class="box-header">
              <h3 class="box-title">接口列表</h3>
            </div>
            <div class="box-body table-responsive" id="clients">
              <table class="table no-margin">
                <thead>
                    <tr>
                        <th>接口URL</th>
                        <th>类型</th>
                        <th>归属API</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{props apis}}
                      <tr>
                        <td>{{:key}}</td>
                        {{props prop}}
                        <td>
                        {{if key=='post'}}
                        <span class="label label-success">{{:key}}</span>
                        {{else}}
                        <span class="label label-info">{{:key}}</span>
                        {{/if}}
                        </td>
                        {{for prop}}
                          <td>{{:tags}}</td>
                          <td>{{:summary}}</td>
                        {{/for}}
                        {{/props}}
                        <td>
                          <a href="#" title="配置"> <i class="fa fa-cog fa-lg setting" data-id="{{:key}}"></i></a>&nbsp;
                        </td>
                      </tr>
                    {{/props}}
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</script>