<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacoal.ins.claim.car.dao.PrpLbpmMainMapper">
  <resultMap id="BaseResultMap" type="com.chinacoal.ins.claim.car.pojo.PrpLbpmMain">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PROCESSID" jdbcType="DECIMAL" property="processId" />
    <result column="TASKID" jdbcType="DECIMAL" property="taskId" />
    <result column="BUSINESSNO" jdbcType="VARCHAR" property="businessNo" />
    <result column="NODEID" jdbcType="INTEGER" property="nodeId" />
    <result column="BUSINESSNODEID" jdbcType="DECIMAL" property="businessNodeId" />
    <result column="INKEY" jdbcType="VARCHAR" property="inKey" />
    <result column="INDATE" jdbcType="TIMESTAMP" property="inDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="RISKCODE" jdbcType="VARCHAR" property="riskCode" />
    <result column="COMCODE" jdbcType="VARCHAR" property="comCode" />
    <result column="HANDLERROLE" jdbcType="VARCHAR" property="handlerRole" />
    <result column="USERCODE" jdbcType="VARCHAR" property="userCode" />
    <result column="HANDLERUSER" jdbcType="VARCHAR" property="handlerUser" />
    <result column="PREPNODEID" jdbcType="DECIMAL" property="prepNodeId" />
    <result column="PREPTASKID" jdbcType="DECIMAL" property="prepTaskId" />
    <result column="PREPCOMCODE" jdbcType="VARCHAR" property="prepComCode" />
    <result column="PREPUSER" jdbcType="VARCHAR" property="prepUser" />
    <result column="PENDINGDATE" jdbcType="TIMESTAMP" property="pendingDate" />
    <result column="OUTDATE" jdbcType="TIMESTAMP" property="outDate" />
    <result column="ACCEPTDATE" jdbcType="TIMESTAMP" property="acceptDate" />
    <result column="ACCEPTFLAG" jdbcType="VARCHAR" property="acceptFlag" />
    <result column="BUSINESSID" jdbcType="DECIMAL" property="businessId" />
    <result column="BUSINESSTABLE" jdbcType="VARCHAR" property="businessTable" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="VALID" jdbcType="VARCHAR" property="valid" />
    <result column="MOVEID" jdbcType="DECIMAL" property="moveId" />
    <result column="CASETAG" jdbcType="VARCHAR" property="caseTag" />
    <result column="TRANSACTNODEID" jdbcType="DECIMAL" property="transactNodeId" />
    <result column="CANCELSTATE" jdbcType="VARCHAR" property="cancelState" />
    <result column="CANCELDATE" jdbcType="TIMESTAMP" property="cancelDate" />
    <result column="RESUMEDATE" jdbcType="TIMESTAMP" property="resumeDate" />
    <result column="CANCELUSER" jdbcType="VARCHAR" property="cancelUser" />
    <result column="AUTOTASKFLAG" jdbcType="VARCHAR" property="autoTaskFlag" />
    <result column="BUSINESSTYPE" jdbcType="VARCHAR" property="businessType" />
    <result column="MAKECOM" jdbcType="VARCHAR" property="makeCom" />
    <result column="MAINNO" jdbcType="VARCHAR" property="mainNo" />
    <result column="SYSTEMCODE" jdbcType="VARCHAR" property="systemCode" />
    <result column="GETTASKFLAG" jdbcType="VARCHAR" property="getTaskFlag" />
    <result column="SUMLOSSFEE" jdbcType="VARCHAR" property="sumLossFee" />
    <result column="SUMLOSSFEE" jdbcType="VARCHAR" property="inUseFlag" />
  </resultMap>

  <!-- 根据businessNo和节点ID查询-->
  <select id="findByBusinessNoAndNodeId" parameterType="hashmap" resultMap="BaseResultMap">
    select a.*
    from PRPLBPMMAIN a
    <where>
      a.valid = '1'
      and a.cancelstate = '0'
      and a.canceldate is null
      <if test="claimNo!=null and claimNo!=''">
        and a.businessno = #{claimNo}
      </if>
      <if test="nodeId!=null and nodeId!=''">
        and a.nodeid = #{nodeId}
      </if>
    </where>
    order by a.id asc
  </select>

  <!-- 根据报案号和节点ID查询-->
  <select id="findByRegistNoAndNodeId" parameterType="hashmap" resultMap="BaseResultMap">
    select a.*
    from PRPLBPMMAIN a
    <where>
      a.valid = '1'
      and a.cancelstate = '0'
      and a.canceldate is null
      <if test="registNo!=null and registNo!=''">
        and a.mainno = #{registNo}
      </if>
      <if test="nodeId!=null and nodeId!=''">
        and a.nodeid = #{nodeId}
      </if>
    </where>
    order by a.id asc
  </select>
<!-- 查询查勘人-->
  <select id="findHandlerName" parameterType="java.lang.String" resultType="java.lang.String">
    select a.usercname as handlerName from gguser a
    <where>
      a.validind = '1'
      <if test="_parameter!=null">
        and a.usercode = #{userCode}
      </if>
    </where>
  </select>
  <!-- 根据报案号和险别查询 -->
  <select id="findByRegistNoAndRiskCode" parameterType="hashmap" resultMap="BaseResultMap">
    select a.*
    from PRPLBPMMAIN a
    <where>
      a.valid = '1'
      and a.cancelstate = '0'
      and a.canceldate is null
      and (a.nodeid = '7' or a.nodeid = '50' or ((a.nodeid = '3' or
      a.nodeid in
      (select id from prplbpmnodetype c where c.nodecname like '%核赔%'))
      <if test="riskCode!=null and riskCode!=''">
        and a.riskcode = #{riskCode}
      </if>
    <if test="registNo!=null and registNo!=''">
      )) and a.mainno = #{registNo}
    </if>
    </where>
    order by a.id desc
  </select>
  <!-- 根据报案号和保单号查询结案节点 -->
  <select id="findByRegistNoAndPolicyNo" parameterType="hashmap" resultMap="BaseResultMap">
    select a1.*
    from prplclaim a, prplbpmmain a1
    <where>
      a.registno = a1.mainno
      and a.claimno = a1.businessno
      and a1.valid = '1'
      and a1.cancelstate = '0'
      and a1.canceldate is null
      and a1.nodeid = '18'
      <if test="registNo!=null and registNo!=''">
        and a.registno = #{registNo}
      </if>
      <if test="policyNo!=null and policyNo!=''"></if>
        and a.policyno = #{policyNo}
    </where>
    order by a1.id desc
  </select>
  <!-- 根据businessNo查询 -->
  <select id="findByRegistNoAndBusinessNo" parameterType="hashmap" resultMap="BaseResultMap">
    select a.*
    from PRPLBPMMAIN a
    <where>
      a.valid = '1'
      and a.cancelstate != '1'
      and a.canceldate is null
      and a.nodeid != '2'
      <if test="registNo!=null and registNo!=''">
        and a.mainno = #{registNo}
      </if>
      <if test="noList!=null">
        <foreach collection="noList" index="index" item="no" open=" and a.businessno in (" close=")" separator=",">
          #{no}
        </foreach>
      </if>
      and a.nodeid in ('3','7','50','51','16','18')
    </where>
    order by a.id desc
  </select>

  <!-- 根据节点查询 -->
  <select id="findByRegistNoAndInNodeId" parameterType="hashmap" resultMap="BaseResultMap">
    select a.*
    from PRPLBPMMAIN a
    <where>
      a.valid = '1'
      and a.cancelstate != '1'
      and a.canceldate is null
      <if test="registNo!=null and registNo!=''">
        and a.mainno = #{registNo}
      </if>
      <if test="nodeList!=null">
        <foreach collection="nodeList" index="index" item="nodeId" open=" and a.nodeid in (" close=")" separator=",">
          #{nodeIds}
        </foreach>
      </if>

    </where>
    order by a.id desc
  </select>
</mapper>