<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css"> 
</style>

</head>
<body>

      <div class="col-md-10" style="margin-top: 20px;">
            <div style="width:110%;text-align:left;color: gray;border-bottom: 2px solid #df5f4a;"><p style="font-weight: bold;
        font-size: 14px;">autocomplete示例页面</p></div>
            <br>
        </div>

  <div  class="page-title col-md-10" style="z-index:-1;margin-top: 5px;" placeholder>
     <span>单选</span>
  </div>
   
  <div  class="col-md-5">
     <div class="ui-widget">
      <!-- <label for="tags">标签：</label> -->
      <input id="exampleSingle" class="form-control">
    </div>
  </div>

 <div class="page-title col-md-10" style="z-index:-1">
     <span>多选</span>
  </div>

<div  class="col-md-10">
  <div class="ui-widget">
    <!-- <label for="tags">标签：</label> -->
    <input id="exampleMultiple" class="form-control">
  </div>
</div>

<div class="page-title col-md-10" style="z-index:-1">
     <span>单选ajax</span>
  </div>

<div  class="col-md-10">
  <div class="ui-widget">
    <!-- <label for="tags">标签：</label> -->
    <input id="exampleMultipleAjax" class="form-control" style="background-color: #BFEFFF">
  </div>
</div>

  <div class="page-title col-md-10" style="z-index:-1">
     <span>核心代码</span>
  </div>

<div class="col-md-10 column">
  <textarea class="col-md-10 column" style="width:110%;height:1200px" >

     var qingkong = false;//添加判断选项，判断输入框是否清空
      var str = true;//判断书法的模式，控制输入汉字时，输入框中显示的字母触发ajax事件
      $("#exampleMultipleAjax").bind('compositionend',function(){//compositionend判断输入法的输入模式的事件
        str = true;
      })
      $("#exampleMultipleAjax").bind('compositionstart',function(){
        str = false;
      })
      $("#exampleMultipleAjax")
        .bind("keydown", function(event) {
          if (event.keyCode === $.ui.keyCode.TAB &&
            $(this).data("ui-autocomplete").menu.active) {
            //event.preventDefault();
          }
        })
        .autocomplete({
          //数据源属性，可以配置ajax或者本地数据源
          source: function(request, response) {
            if (str) {
              $.ajax({
                url: "api/misc/sdd/code/queryListAuotComplete",
                type: "post",
                dataType: "json",
                data: {
                  value: $("#exampleMultipleAjax").val()
                },
                beforeSend: function(request) {
                  request.setRequestHeader("Authorization", "Arch6WithCloud " + localStorage.getItem("jwt"));
                },
                success: function(data) {
                  if (data.data.length==1) {
                    $("#exampleMultipleAjax").val(data.data[0].code);
                    qingkong = false;
                    setTimeout(function () { $("#exampleMultipleAjax").autocomplete( "close" ); }, 1000);
                  }
                  response($.map(data.data, function(item) {
                    return {
                        label: item.code,
                        value: item.value
                    }
                    return item;
                  }));
                }
              });
            }
          },
          minLength: 0,//配置下拉框的最小查询字符长度
          //输入框获取焦点事件
          focus: function() {
            // 防止在获得焦点时插入值
            return false;
          },
          // 点击下拉框中的选项触发
          select: function( event, ui ) {
              $("#exampleMultipleAjax").val(ui.item.label);
              qingkong = false
              return false;
          },
          //下拉框展开是触发的事件
          response: function( event, ui ) {
              // event 是当前事件对象
              // ui对象仅有一个content属性，它表示当前用于显示菜单的数组数据
              // 每个元素都是具有label和value属性的对象
              // 你可以对属性进行更改，从而改变显示的菜单内容
              if (ui.content.length==0) {
                  qingkong = true;
                  ui.content[0]={label: "无数据", value: null, category: "无数据"};
                  setTimeout(function () { $("#exampleMultipleAjax").autocomplete( "close" ); }, 1000);
              }
          },
          //焦点离开输入框时触发的事件
          change: function( event, ui ) {
              if($("#exampleMultipleAjax").val()==''){
                $("#exampleMultipleAjax").val('');
              }
              if(qingkong){
                $("#exampleMultipleAjax").val("");
              }
              qingkong = true;
              // if(null==ui.item||$input.val()==''){
              //   hiddenlist[0].val('');
              // }
              /*if($input.val()==''){
                hiddenlist[0].val('');
              }
              if(selectedCallback && typeof (selectedCallback) == 'function'){
                selectedCallback();
              }*/
              return false;
          },


        })
        //双击事件
        .dblclick(function() {
          // 双击的时候进行查找
          $(this).autocomplete('search', '');
        })
        //下拉框模板配置
        .data("ui-autocomplete")._renderItem = function(ul, item) {
          //自定义模板
          if (item.value != null) {
          var markup = "<table style='padding:0px;margin:0px;' class='table'>" +
            "<tr>"
            + "<td>" + item.label + "</td>"
            + "<td>" + item.value + "</td>" +
            "</tr>" +
            "</table>";
          return $("<li>")
            .append(markup)
            .appendTo(ul);
          } else {
            return ul.append( "<li class='ui-autocomplete-category' style='pointer-events: none;cursor: default;color:red;'>" + item.category + "</li>" );
          }
        };
    },

             
</textarea>
</div>

</body>

<script type="text/javascript">

</script>


<html>
