<div class="row" id="task-edit"></div>
<script id="queryFormTmpl" type="text/x-jsrender">
<div class="box box-info">
    <div class="modal-header box-header">
        <h4 class="box-title">功能新增</h4>
    </div>
    <div class="row lookup recorded">
        <div class="col-lg-12">
            <!-- style="position:absolute;" -->
            <form id="form" class="form-horizontal" role="form" method="post">
                <input id="validInd" name="validInd" class="form-control" value="1" type="hidden" />
                <input id="version" name="version" class="form-control" value="1" type="hidden" />
                <div class="box panel box-info">
                    <div class="panel-collapse collapse in" id="collapseOne">
                        <div class="box-body">
                            <div id="div_error"></div>
                            <!--第一行-->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="row form-group">
                                        <div class="col-xs-4">
                                            <label for="taskCode" class="control-label"> <font
                                                        color="#FF0000" size="+1" style="vertical-align: middle">*</font>功能代码</label>
                                        </div>
                                        <div class="col-xs-6">
                                        {{if pageType!= 'update'}}
                                        
                                            <input id="taskCode" name="taskCode" class="form-control" data-link="task.taskCode" type="text"/>
                                        {{else}}
                                        <input id="taskCode" name="taskCode" class="form-control" data-link="task.taskCode" type="text" readonly="readonly"/>
                                        {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="row form-group">
                                        <div class="col-xs-4">
                                            <label for="taskCName" class="control-label "> <font
                                                        color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                                                        功能名称</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <input id="taskCName" name="taskCName" class="form-control" data-link="task.taskCName" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--第三行-->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="row form-group">
                                        <div class="col-xs-4">
                                            <label for="upperTaskCode" class="control-label">上级功能代码</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <input id="upperTaskCode" name="upperTaskCode" class="form-control" data-link="task.upperTaskCode" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="row form-group">
                                        <div class="col-xs-4">
                                            <label for="level" class="control-label ">
                                                   功能级别</label>
                                        </div>
                                        <div class="col-xs-6">
                                        {{if pageType!= 'update'}}
                                            <input id="level" name="level" class="form-control" data-link="task.level" type="text" />
                                        {{else}}
                                        <input id="level" name="level" class="form-control" data-link="task.level" type="text" readonly="readonly" />
                                        {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--第四行-->
                            <!--第五行-->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="row form-group">
                                        <div class="col-xs-4">
                                            <label for="url" class="control-label "><font
                                                        color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                                                   功能URL</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <input id="url" name="url" class="form-control" data-link="task.url" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="row form-group">
                                        <div class="col-xs-4">
                                            <label for="insertTimeForHis" class="control-label ">
                                                    创建时间</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                                <input id="insertTimeForHis" name="insertTimeForHis" class="form-control" type="text" data-link="task.insertTimeForHis"
                                                />
                                                <span class="input-group-addon">  
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-my">
                    <button type="submit" class="btn btn-danger btn-sm" style="display: none" id="btn-submit">保存</button>
                    <button type="button" id="btn-close" class="btn btn-danger btn-close btn-sm">关 闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
</script>