<div class="row" id="zipkinInfo"></div>
<script id="zipkinInfoTml" type="text/x-jsrender">
  <div class="content-wrapper" style="min-height: 100%;margin-left: 0px!important;background-color: transparent!important">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 监控信息</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable ui-sortable">
          <div class="box box-primary">
            <!-- Tabs within a box -->
            <div class="box-header">
              <h3 class="box-title">监控信息</h3>
            </div>
            <div class="box-body table-responsive" id="clients">
              <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="{{:url}}"></iframe>
                      </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</script>