<div class="row" id="factor-field-edit"></div>
<script id="factorFieldFormTmpl" type="text/x-jsrender">
    <!-- <div class="row page-title">
        <div class="col-lg-12">
            <a href="/">
                <i class="fa fa-home fa-fw fa-lg"></i>
                回到首页
            </a>
            / 
        </div>
    </div> -->
    <div class="row lookup recorded">
        <input type="hidden" name="factorCode" data-link="factorCode">
        <div class="col-xs-12">
            <div class="box panel box-info">
                <div class="box-header with-border">
                    <h4 class="box-title">
                          <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" class="">
                            数据表结构选择
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseTwo">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-5">
                                <ul id="factorFieldTree" class="ztree"></ul>
                            </div>
                            <div class="col-xs-2">
                                <div class="row" style="margin-bottom: 20px;margin-top: 200px;">
                                    <button id="remove-field" type="button" class="fa fa-chevron-left"></button>
                                </div>
                                <div class="row" style="margin-bottom: 20px;">
                                    <button id="add-field" type="button" class="fa fa-chevron-right"></button>
                                </div>
                                <div class="row">
                                    <button id="save-field" type="button" class="fa fa-save"></button>
                                </div>  
                            </div>
                            <div class="col-xs-5">
                                <div class="tabbable">
                                    <table id="list-table2" class="table table-hover searchtable list-table">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>