<div class="row" id="menu-edit"></div>
<script id="menuFormTmpl" type="text/x-jsrender">
<div class="box box-info">
  <div class="modal-header box-header">
      <h4 class="box-title">菜单新增</h4>
  </div>
  <div class="row lookup recorded">
    <div class="col-lg-12">
      <!-- style="position:absolute;" -->
      <form id="form" class="form-horizontal" role="form" method="post">
      <input id="id" name="id" class="form-control" data-link="menu.id" type="hidden" />
        <div class="box panel box-info">
          <div class="panel-collapse collapsezuul-edit in" id="collapseOne">
            <div class="box-body">
              <div id="div_error"></div>
              <!--第一行-->
              <div class="row">
               <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="upperId" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          上级菜单编码</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="upperId" name="upperId" class="form-control" data-link="menu.upperId"  type="text" />
                        </div>
                      </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="id1" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          菜单编码</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="id1" name="id1" class="form-control" data-link="menu.id1" type="text" />
                        </div>
                       </div>
                  </div>
                  </div>
                  <!--第二行-->
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="menuLevel" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          菜单等级</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="menuLevel" name="menuLevel" class="form-control" data-link="menu.menuLevel" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="menuCname" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          菜单名称</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="menuCname" name="menuCname" class="form-control" data-link="menu.menuCname" type="text" />
                        </div>
                      </div>
                    </div>
                    </div>
               
                    <!--第三行-->
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="row form-group">
                          <div class="col-xs-4">
                            <label for="actionUrl" class="control-label ">映射URL</label>
                            </div>
                            <div class="col-xs-6">                
                                <input id="actionUrl" name="actionUrl" class="form-control" type="text" data-link="menu.actionUrl" />
                            </div>
                          </div>
                        </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="displayNo" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          排列序号</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="displayNo" name="displayNo" class="form-control" data-link="menu.displayNo" type="text" />
                        </div>
                      </div>
                    </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="footer-my">
                      <button type="submit" class="btn btn-danger btn-sm" style="display: none" id="btn-submit">保存</button>
                      <button type="button" id="btn-close" class="btn btn-danger btn-close btn-sm">关 闭</button>
                  </div>
                </form>
              </div>
            </div>
            </div>
          </script>