<script id="queryFormTmpl" type="text/x-jsrender">
<!--查询结果-->
  <div id="search-panel">
    <!--查询条件-->
    <div class="col-md-12 column clean-padding-left-right" >
      <form role="form" class="searchform">
        <div class="box box-info">
          <div class="modal-header box-header">
            <h4 class="box-title">查询条件</h4>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="id" class="control-label">菜单编码</label>
                  </div>
                  <div class="col-md-8">
                   <input name="id" id="id" class="form-control" type="text" placeholder="">
                 </div>
               </div>
             </div>
             <div class="col-md-4">
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="upperId" class="control-label">上级菜单编码</label>
                  </div>
                  <div class="col-md-8">
                   <input name="upperId" id="upperId" class="form-control" type="text" placeholder="">
                 </div>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-4">
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="" class="control-label">编码和上级编码查询</label>
                  </div>
                  <div class="col-md-8">
                   <input name="sex" id="" class="form-control" type="text" placeholder="">
                 </div>
               </div>
             </div>
             <div class="col-md-4">
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="" class="control-label">菜单名称和时间查询</label>
                  </div>
                  <div class="col-md-8">
                   <input name="" id="" class="form-control" type="text" placeholder="">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-search btn-sm">查询</button>
             </div>
             
           </div>
         </div>
       </div>
     </form>
   </div>
   <div class="col-md-12 column clean-padding-left-right" >
    <div class="box box-info">
      <div class="modal-header box-header box-header">
        <h4 class="box-title">菜单列表</h4>
        <div id="toolbar" class="box-tools pull-right">
          <button id="menu_add" type="button" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
          </button>
        </div>
        <div class="tab-content list-table">
        </div>
      </div>
    </div>
  </div>
</div>

</script>           