<div class="row" id="menu-setting"></div>
<script id="menuTreeTmpl" type="text/x-jsrender">
   <div class="row page-title">
    <div class="col-lg-12">
      <a href="/">
        <i class="fa fa-home fa-fw fa-lg"></i>
       回到首页
      </a>
      / 菜单管理
    </div>
  </div>

  

					
					
					
		<div width="30%" class="col-md-12 column background-color-white  box panel box-info" style="margin-right:15px;float:left;" >
         <div class="box-header with-border">
        </div>
         <div class="tabbable" id="tabs-180259">
                <div class="tab-content list-table">
					<div class="dataTables_wrapper form-inline dt-bootstrap">                        
					<div class="row">                          
					<div class="col-sm-12">                               
					<div class="mailbox-controls">    
					<div id="toolbar" class="btn-group" margin-right="20px">
					 <div style="margin-right:15px;float:left;">
                        <button id="menu_add" type="button" class="btn btn-danger btn-sm  init">
                           新增
                        </button>
						</div>
						<div style="float:left;">
						 <button id="menu_refresh" type="button" class="btn btn-danger btn-sm  init">
                            刷新
                        </button>
						</div>
                    </div>
											
					
					<div class="pull-right">                                       
					<div class="btn-group">                                   
					</div>                                 
					</div>                             
					</div>                           
					</div>                       
					</div>                       
					<div class="row">                       
					<div class="col-sm-12">                  
					<div class="table-responsive mailbox-messages">                           
					<table class="table table-hover searchtable">                                
					<thead> 
					
								<ul id="menuTree" class="ztree"></ul>
					
					</thead>                                 
					<tbody>                                  
					</tbody>                                 
					</table>                               
					</div>                           
					</div>                      
					</div>                      
					<div class="row tablepager">
					</div>                   
					</div>
				</div>
            <div>
        </div>
        </div>
        </div>
		
  
</script>