<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacoal.ins.proposal.car.dao.GuEndorEndorHeadMapper">
  <resultMap id="BaseResultMap" type="com.chinacoal.ins.proposal.car.pojo.GuEndorEndorHead">
    <id column="ENDORNO" jdbcType="VARCHAR" property="endorno" />
    <result column="POLICYNO" jdbcType="VARCHAR" property="policyno" />
    <result column="PRINTNO" jdbcType="VARCHAR" property="printno" />
    <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
    <result column="ENDORSETIMES" jdbcType="DECIMAL" property="endorsetimes" />
    <result column="ISSUECOMPANY" jdbcType="VARCHAR" property="issuecompany" />
    <result column="COMPENSATENO" jdbcType="VARCHAR" property="compensateno" />
    <result column="INSUREDCODE" jdbcType="VARCHAR" property="insuredcode" />
    <result column="INSUREDNAME" jdbcType="VARCHAR" property="insuredname" />
    <result column="POLICYTYPE" jdbcType="VARCHAR" property="policytype" />
    <result column="ENDORTYPE" jdbcType="VARCHAR" property="endortype" />
    <result column="ENDORDATE" jdbcType="TIMESTAMP" property="endordate" />
    <result column="VALIDDATE" jdbcType="TIMESTAMP" property="validdate" />
    <result column="HANDLERCODE" jdbcType="VARCHAR" property="handlercode" />
    <result column="SALESMANCODE" jdbcType="VARCHAR" property="salesmancode" />
    <result column="APPROVERCODE" jdbcType="VARCHAR" property="approvercode" />
    <result column="UNDERWRITECODE" jdbcType="VARCHAR" property="underwritecode" />
    <result column="UNDERWRITENAME" jdbcType="VARCHAR" property="underwritename" />
    <result column="OPERATORCODE" jdbcType="VARCHAR" property="operatorcode" />
    <result column="INPUTDATE" jdbcType="TIMESTAMP" property="inputdate" />
    <result column="INPUTHOUR" jdbcType="DECIMAL" property="inputhour" />
    <result column="COMPANYCODE" jdbcType="VARCHAR" property="companycode" />
    <result column="AGENTCODE" jdbcType="VARCHAR" property="agentcode" />
    <result column="STATISTICSYM" jdbcType="TIMESTAMP" property="statisticsym" />
    <result column="UNDERWRITEENDDATE" jdbcType="TIMESTAMP" property="underwriteenddate" />
    <result column="UNDERWRITEIND" jdbcType="VARCHAR" property="underwriteind" />
    <result column="LASTMODIFIERCODE" jdbcType="VARCHAR" property="lastmodifiercode" />
    <result column="LASTMODIFYDATE" jdbcType="TIMESTAMP" property="lastmodifydate" />
    <result column="ENDORIND" jdbcType="VARCHAR" property="endorind" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="VALIDIND" jdbcType="VARCHAR" property="validind" />
    <result column="COUNTERACTIND" jdbcType="VARCHAR" property="counteractind" />
    <result column="IMAGEIND" jdbcType="VARCHAR" property="imageind" />
    <result column="HANDLESTATUS" jdbcType="VARCHAR" property="handlestatus" />
    <result column="APPROVEENDDATE" jdbcType="TIMESTAMP" property="approveenddate" />
    <result column="DEALERCODE" jdbcType="VARCHAR" property="dealercode" />
    <result column="ACCEPTDATE" jdbcType="TIMESTAMP" property="acceptdate" />
    <result column="ATTACHCOVERNOTENO" jdbcType="VARCHAR" property="attachcovernoteno" />
    <result column="ATTACHCOVERNOTESEQNO" jdbcType="DECIMAL" property="attachcovernoteseqno" />
    <result column="CODIND" jdbcType="VARCHAR" property="codind" />
    <result column="ACCIND" jdbcType="VARCHAR" property="accind" />
    <result column="RECOVERENDORIND" jdbcType="VARCHAR" property="recoverendorind" />
    <result column="RECOVERENDORNO" jdbcType="VARCHAR" property="recoverendorno" />
    <result column="TIMEZONE" jdbcType="VARCHAR" property="timezone" />
    <result column="ENDORRISKCODE" jdbcType="VARCHAR" property="endorriskcode" />
    <result column="PRODUCTCODE" jdbcType="VARCHAR" property="productcode" />
    <result column="PROBLEMIND" jdbcType="VARCHAR" property="problemind" />
    <result column="CANCELTIME" jdbcType="TIMESTAMP" property="canceltime" />
    <result column="SURRENDERREASON" jdbcType="VARCHAR" property="surrenderreason" />
    <result column="CMBPRINTIVCIND" jdbcType="VARCHAR" property="cmbprintivcind" />
    <result column="FLOWID" jdbcType="VARCHAR" property="flowid" />
  </resultMap>
  <sql id="Base_Column_List">
    ENDORNO, POLICYNO, PRINTNO, LANGUAGE, ENDORSETIMES, ISSUECOMPANY, COMPENSATENO, INSUREDCODE, 
    INSUREDNAME, POLICYTYPE, ENDORTYPE, ENDORDATE, VALIDDATE, HANDLERCODE, SALESMANCODE, 
    APPROVERCODE, UNDERWRITECODE, UNDERWRITENAME, OPERATORCODE, INPUTDATE, INPUTHOUR, 
    COMPANYCODE, AGENTCODE, STATISTICSYM, UNDERWRITEENDDATE, UNDERWRITEIND, LASTMODIFIERCODE, 
    LASTMODIFYDATE, ENDORIND, REMARK, FLAG, VALIDIND, COUNTERACTIND, IMAGEIND, HANDLESTATUS, 
    APPROVEENDDATE, DEALERCODE, ACCEPTDATE, ATTACHCOVERNOTENO, ATTACHCOVERNOTESEQNO, 
    CODIND, ACCIND, RECOVERENDORIND, RECOVERENDORNO, TIMEZONE, ENDORRISKCODE, PRODUCTCODE, 
    PROBLEMIND, CANCELTIME, SURRENDERREASON, CMBPRINTIVCIND, FLOWID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GUENDORENDORHEAD
    where ENDORNO = #{endorno,jdbcType=VARCHAR}
  </select>

  <!-- 根据保单号查询 -->
  <select id="findEndorVoByPolicyNo" parameterType="java.lang.String" resultType="com.chinacoal.ins.proposal.car.vo.EndorHeadInfoVo">
    select m.policynoforendor as policyNoForEndor,
       t.endorno         as endorNo,
       m.riskcode        as riskCode,
       t.endorType       as endorType,
       t.endorDate       as endorDate,
       t.operatorCode    as operator,
       m.suminsured      as sumInsured,
       m.sumGrossPremium as grossPremium,
       case when m.riskcode = '0330'
         then              t.validDate2
         else              t.validDate
       end                  as validDate,
       e.endorseTextByInput as content,

       case when (select instr(t.endorType  ,'16',1,1) instring from dual) >0

         then            '0'--无效
         else            '1'--有效
       end                  as invalidFlag
    from guendorendorhead t, GuEndorRisk m, GuEndorEndorText e
    <where>
      t.endorno = e.endorno
      and t.endorno = m.endorno
      and m.riskcode=e.riskcode
      <if test="_parameter != null">
        and t.POLICYNO = #{policyNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>