<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacoal.ins.proposal.car.dao.GuPolicyRiskProfitMapper">
  <resultMap id="BaseResultMap" type="com.chinacoal.ins.proposal.car.pojo.GuPolicyRiskProfit">
    <id column="POLICYNO" jdbcType="VARCHAR" property="policyno" />
    <id column="PLANCODE" jdbcType="VARCHAR" property="plancode" />
    <id column="RISKCODE" jdbcType="VARCHAR" property="riskcode" />
    <id column="PROFITCODE" jdbcType="VARCHAR" property="profitcode" />
    <result column="PROFITTYPE" jdbcType="VARCHAR" property="profittype" />
    <result column="PROFITNAME" jdbcType="VARCHAR" property="profitname" />
    <result column="SUBPROFITCODE" jdbcType="VARCHAR" property="subprofitcode" />
    <result column="SUBPROFITNAME" jdbcType="VARCHAR" property="subprofitname" />
    <result column="RATE" jdbcType="DECIMAL" property="rate" />
    <result column="LOWERRATE" jdbcType="DECIMAL" property="lowerrate" />
    <result column="UPPERRATE" jdbcType="DECIMAL" property="upperrate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="SUBPOLICYNO" jdbcType="VARCHAR" property="subpolicyno" />
    <result column="ORIRATE" jdbcType="DECIMAL" property="orirate" />
  </resultMap>
  <sql id="Base_Column_List">
    POLICYNO, PLANCODE, RISKCODE, PROFITCODE, PROFITTYPE, PROFITNAME, SUBPROFITCODE, 
    SUBPROFITNAME, RATE, LOWERRATE, UPPERRATE, REMARK, FLAG, SUBPOLICYNO, ORIRATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.chinacoal.ins.proposal.car.pojo.GuPolicyRiskProfitKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GUPOLICYRISKPROFIT
    where POLICYNO = #{policyno,jdbcType=VARCHAR}
      and PLANCODE = #{plancode,jdbcType=VARCHAR}
      and RISKCODE = #{riskcode,jdbcType=VARCHAR}
      and PROFITCODE = #{profitcode,jdbcType=VARCHAR}
  </select>
 <!-- 根据保单号查询 -->
  <select id="findByPolicyNo" parameterType="java.lang.String" resultType="com.chinacoal.ins.proposal.car.pojo.GuPolicyRiskProfit">
    select t.ProfitName as profitName,
       t.ProfitCode as profitCode,
       t.Rate       as rate,
       t.UpperRate  as upperRate,
       t.LowerRate  as lowerRate
    from GupolicyRiskProfit t
    <where>
      <if test="_parameter != null">
        t.POLICYNO = #{policyNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>