<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacoal.ins.proposal.car.dao.PrplClaimMapper">
  <resultMap id="BaseResultMap" type="com.chinacoal.ins.proposal.car.pojo.PrplClaim">
    <id column="CLAIMNO" jdbcType="VARCHAR" property="claimNo" />
    <result column="RISKCODE" jdbcType="VARCHAR" property="riskCode" />
    <result column="REGISTNO" jdbcType="VARCHAR" property="registNo" />
    <result column="POLICYNO" jdbcType="VARCHAR" property="policyNo" />
    <result column="DAMAGESTARTDATE" jdbcType="TIMESTAMP" property="damageStartDate" />
    <result column="SUMPAID" jdbcType="DECIMAL" property="sumPaid" />
    <result column="ENDCASEDATE" jdbcType="TIMESTAMP" property="endCaseDate" />
    <result column="CLAIMDATE" jdbcType="TIMESTAMP" property="claimDate" />
    <result column="CASENO" jdbcType="VARCHAR" property="caseNo" />
    <result column="SUMCLAIM" jdbcType="DECIMAL" property="sumClaim" />
    <result column="VALIDFLAG" jdbcType="VARCHAR" property="validFlag" />
    <result column="COMCODE" jdbcType="VARCHAR" property="comCode" />
    <result column="INSUREDNAME" jdbcType="VARCHAR" property="insuredName" />

  </resultMap>

  <select id="findByPolicy" parameterType="java.lang.String" resultMap="BaseResultMap">
    select t.*
    from PRPLCLAIM t
    <where>
      <if test="_parameter!=null">
        t.POLICYNO = #{policyNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!-- 理赔接口查询 -->
  <select id="findClaimNos" parameterType="hashmap" resultType="java.lang.String">
    select distinct t.claimno
    from prplclaim t, prplcinsured t1
    <where>
      t.policyno = t1.policyno
      and t.registno = t1.registno
      <if test="policyNo!=null">
        and t.policyno = #{policyNo}
      </if>
      <if test="identifyNo!=null">
        and t1.identifynumber = #{identifyNo}
      </if>
    </where>
  </select>

  <!-- 理赔简单接口查询 -->
  <select id="findByPolicyAndRegistNo" parameterType="hashmap" resultType="com.chinacoal.ins.proposal.car.pojo.PrplClaim">
    select *
    from prplclaim t
    <where>
      <if test="policyNo!=null">
        t.policyno = #{policyNo}
      </if>
      <if test="registNo!=null">
        and t.registno = #{registNo}
      </if>
    </where>
  </select>

  <select id="findByRegistNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select t.*
    from PRPLCLAIM t
    <where>
      <if test="_parameter!=null">
        t.registno = #{registNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!-- 根据业务员/代理人/承保机构 + 出险时间查询 -->
  <select id="findByPolicyInfo" parameterType="hashmap" resultMap="BaseResultMap">
    select a2.*
    from gupolicymain a, gupolicyrisk a1, prplclaim a2, prplregist a3
    <where>
      a.policyno = a1.policyno
      and a1.subpolicyno = a2.policyno
      and a2.registno = a3.registno
      <if test="operaterCode!=null and operaterCode!=''">
        and a.salesmancode = #{operaterCode}
      </if>
      <if test="agentCode!=null and agentCode!=''">
        and a.IntermediaryCode = #{agentCode}
      </if>
      <if test="comCode!=null and comCode!=''">
        and a.companycode = #{comCode}
      </if>
      <if test="startDate!=null and startDate!=''">
        <![CDATA[ and a3.damageDate >= to_date(#{startDate}, 'yy-MM-dd') ]]>
      </if>
      <if test="endDate!=null and endDate!=''">
        <![CDATA[ and a3.damageDate <= to_date(#{endDate}, 'yy-MM-dd') ]]>
      </if>
    </where>
    order by a3.damagedate desc
  </select>

  <select id="findByClaimNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select t.*
    from PRPLCLAIM t
    <where>
      <if test="_parameter!=null">
        t.CLAIMNO = #{claimNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>