<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定损清单列表查询-->
<mapper namespace="com.chinacoal.ins.claim.car.dao.VehicleRepairMapper">

  <!-- 查询定损换件清单 -->
  <select id="findComponents" parameterType="java.lang.String" resultType="com.chinacoal.ins.claim.car.pojo.VehicleRepairDto">
    select
      t.claimno       as caseNo,
      t1.lossfeetype  as lossfeetype,
      t3.licenseno    as lossLicenseNo,
      t3.vinno        as lossVinNo,
      t2.compname     as componentName,
      t2.verisumprice as veriSumAmount
    from prplclaim t, prpldeflossmain t1, prplcomponent t2, prpldeflossthirdparty t3
    <where>
      t.registno = t1.registno
      and t1.id = t2.prpldeflossmainid
      and t3.id = t1.prplthirdpartid
      <if test="_parameter!=null">
        and t.claimno = #{claimNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <!-- 查询定损修理清单 -->
  <select id="findRepairs" parameterType="java.lang.String" resultType="com.chinacoal.ins.claim.car.pojo.VehicleRepairDto">
    select
      t.claimno       as caseNo,
      t1.lossfeetype  as lossfeetype,
      t1.lossfeetype as lossType,
      t3.licenseno as lossLicenseNo,
      t3.vinno as lossVinNo,
      substr(nvl(t2.repairfactoryname, t2.compname), 1, 100) as repairItemName,
      t2.veriManHourFee as veriSumAmount
    from prplclaim t, prpldeflossmain t1, prplrepairfee t2, prpldeflossthirdparty t3
    <where>
      t.registno = t1.registno
      and t1.id = t2.prpldeflossmainid
      and t3.id = t1.prplthirdpartid
      <if test="_parameter!=null">
        and t.claimno = #{claimNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <!-- 查询定损辅料清单 -->
  <select id="findMaterials" parameterType="java.lang.String" resultType="com.chinacoal.ins.claim.car.pojo.VehicleRepairDto">
    select
      t.claimno          as caseNo,
      t1.lossfeetype     as lossType,
      t3.licenseno       as lossLicenseNo,
      t3.vinno           as lossVinNo,
      t2.materialname    as repairItemName,
      t2.veriMaterialFee as veriSumAmount
    from prplclaim t, prpldeflossmain t1, prplmaterial t2, prpldeflossthirdparty t3
    <where>
      t.registno = t1.registno
      and t1.id = t2.prpldeflossmainid
      and t3.id = t1.prplthirdpartid
      <if test="_parameter!=null">
        and t.claimno = #{claimNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <!-- 查询定损外修清单 -->
  <select id="findOuterRepairs" parameterType="java.lang.String" resultType="com.chinacoal.ins.claim.car.pojo.VehicleRepairDto">
    select
      t.claimno          as caseNo,
      t1.lossfeetype     as lossType,
      t3.licenseno       as lossLicenseNo,
      t3.vinno           as lossVinNo,
      t2.compname        as repairItemName,
      t2.veriManHourFee  as veriSumAmount
    from prplclaim t, prpldeflossmain t1, prplouterrepair t2, prpldeflossthirdparty t3
    <where>
      t.registno = t1.registno
      and t1.id = t2.prpldeflossmainid
      and t3.id = t1.prplthirdpartid
      <if test="_parameter!=null">
        and t.claimno = #{claimNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>