<div class="row" id="rt-edit"></div>
<script id="rtFormTmpl" type="text/x-jsrender">
  <div class="row page-title">
    <div class="col-lg-12">
      <a href="/">
        <i class="fa fa-home fa-fw fa-lg"></i>
        回到首页
      </a>
      / 限流方案新增
    </div>
  </div>
  <div class="row lookup recorded">
    <div class="col-lg-12">
      <!-- style="position:absolute;" -->
      <form id="form" class="form-horizontal" role="form" method="post">
       <input id="id" name="id" class="form-control" data-link="rt.id" type="hidden" />
        <div class="box panel box-info">
          <div class="panel-collapse collapsezuul-edit in" id="collapseOne">
            <div class="box-body">
              <div id="div_error"></div>
              <!--第一行-->
              <div class="row">
               <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="method" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          方案</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="method" name="method" class="form-control" data-link="rt.method" type="text" />
                        </div>
                      </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="row form-group">
                    <div class="col-xs-4">
                      <label for="type" class="control-label"> <font
                        color="#FF0000" size="+1" style="vertical-align: middle">*</font>类型</label>
                      </div>
                      <div class="col-xs-6">
                         <input type="hidden" name="type0" />
                            <select data-link="rt.type" id="type0" name="type" 
                            class="form-control select2">
            <option value="1" >限流</option>
            <option value="2" >配额</option>    
                  </select>
                      </div>
                    </div>
                  </div>
                  </div>
                  <!--第二行-->
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row form-group">
                      <div class="col-xs-4">
                        <label for="limits" class="control-label "> <font
                          color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                          次数</label>
                        </div>
                        <div class="col-xs-6">
                          <input id="limits" name="limits" class="form-control" data-link="rt.limits" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="row form-group">
                        <div class="col-xs-4">
                          <label for="timeUnit" class="control-label"><font color="#FF0000" size="+1" style="vertical-align: middle">*</font>单位时间</label>
                        </div>
                        <div class="col-xs-6">
                          <input type="hidden" name="time" />
                            <select data-link="rt.timeUnit" id="timeUnit" name="timeUnit" 
                            class="form-control select2">
              <option value="1" >分</option>
              <option value="2" >时</option>
              <option value="3" >天</option>
              <option value="4" >月</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    </div>
               
                    <!--第三行-->
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="row form-group">
                          <div class="col-xs-4">
                            <label for="name" class="control-label "><font
                              color="#FF0000" size="+1" style="vertical-align: middle">*</font>
                              名称</label>
                            </div>
                            <div class="col-xs-6">                
                                <input id="name" name="name" class="form-control" type="text" data-link="rt.name" />
                            </div>
                          </div>
                        </div>
                        </div>


                      </div>
                    </div>
                  </div>
                  <div class="box box-tool-my">
                    <div class="footer-my">
                      <button type="submit" class="btn btn-danger btn-sm" style="display: none" id="btn-submit">保存</button>
                      <button type="button" id="btn-close" class="btn btn-default btn-close btn-sm">关 闭</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>


          </script>